.loader {
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loader img{
    align-items: center;
    /* margin: 50% 50%; */
}

h3{
    text-align: center;
}