//En este archivo se definirá la configuración de los estilos

//Colors
$primaryColor: #6f4a8e;
$dark-grey: #363636;
$light-grey: #d8d8d8;

//Google button
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;